<blockquote class="quote">
    <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quo illo molestias, veniam non architecto totam alias at, accusamus obcaecati facilis nam iste cupiditate repudiandae reiciendis minus expedita, voluptatibus quos.
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <img src="images/line.png" alt="snap" class="icon quote__line">
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organization">
                    ABC Company
                </p>
            </div>
        </div>
    </footer>
</blockquote>